---
pagination:
  data: collections.all
  size: 1000   # largement suffisant
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---

<?xml version="1.0" encoding="UTF-8"?>
<urlset 
  xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

{% for page in collections.all %}
  {# On ignore les fichiers qui ne doivent pas être indexés #}
  {% if page.url and not page.data.draft %}
  <url>
    <loc>{{ meta.site.url }}{{ page.url }}</loc>
    <lastmod>{{ page.date | date("yyyy-MM-dd") }}</lastmod>
  </url>
  {% endif %}
{% endfor %}
</urlset>
