<footer class="site-footer">
  <p>made with ❤️ and <a href="https://www.11ty.dev/">11ty</a></p>
</footer>
<script data-goatcounter="https://11ty-jardin.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
