<aside class="sidebar">
<h2>#</h2>
  <div class="sidebar-inner">



    <!-- TAG CLOUD dans la sidebar -->
   
    <nav class="sidebar-tags" aria-label="Nuage de tags">
      
      <ul class="tag-cloud">

        {# On récupère les bornes min/max pour la pondération #}
		{% set max = collections.tagList | maxBy("count") %}
		{% set min = collections.tagList | minBy("count") %}


        {# Boucle sur les tags #}
        {% for item in collections.tagList %}
          {% set ratio = (item.count - min) / (max - min + 0.0001) %}

          {% if ratio < 0.25 %}
            {% set size = "tag-small" %}
          {% elif ratio < 0.5 %}
            {% set size = "tag-medium" %}
          {% elif ratio < 0.75 %}
            {% set size = "tag-large" %}
          {% else %}
            {% set size = "tag-xlarge" %}
          {% endif %}

          <li>
            <a class="{{ size }}" href="/tags/{{ item.tag | safelink }}/">
              {{ item.tag }}
            </a>
          </li>
        {% endfor %}

      </ul>
    </nav>

  </div>

</aside>
